<main
  class="relative max-w-[1440px] mb-40 mx-auto xl:h-[800px] xl:mb-0 xl:grid xl:grid-cols-2 xl:items-center"
>
  <!-- pattern desktop -->
  <img
    class="absolute hidden left-0 bottom-0 z-[-1] xl:block"
    src="assets/images/bg-pattern-desktop.svg"
    alt="Pattern Desktop"
  />
  <!-- end pattern desktop -->

  <!-- hero -->
  <img
    class="w-full max-h-[512px] xl:hidden"
    src="assets/images/hero-mobile.jpg"
    alt="Hero Mobile"
  />
  <img
    class="hidden absolute right-0 h-full xl:block"
    src="assets/images/hero-desktop.jpg"
    alt="Hero Desktop"
  />
  <!-- end hero -->

  <div class="container max-w-lg md:max-w-xl xl:max-w-none ">
    <!-- content -->
    <div class="text-center mt-20 space-y-4 xl:text-left xl:mt-0 xl:min-w-[450px]">
      <h1 class="text-5xl tracking-[.9rem] md:text-6xl xl:leading-[4.1rem]">
        <span class="text-red-800 font-light">WE'RE</span>
        <br />
        <strong>COMING SOON</strong>
      </h1>

      <p class="text-red-800 md:text-lg">
        Hello fellow shoppers! We're currently building our new fashion store.
        Add your email below to stay up-to-date with announcements and our
        launch deals.
      </p>
    </div>
    <!-- end content -->

    <lbk-email-form
      class="block mt-8 md:max-w-xs mx-auto xl:mt-10 xl:ml-0 xl:mr-auto xl:min-w-[400px]"
    ></lbk-email-form>
  </div>
</main>
